<h1>Réponse du coach :</h1>

<h2 class="question"> Ta question : <%= @question %></h2>
<h2 class="réponse"> Réponse de Coach Bobby : <%= @answer %></h2>
<h2 class="button"><%= link_to "poseTaQuestion", ask_path %></h2>
